<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>

    <%- include('./partials/css') %>
    
    <style>
        form {
            height: 100vh;
        }

        .card {
            width: 50vw;
        }
    </style>
</head>
<body>
    <form class="d-flex flex-column justify-content-center align-items-center" method="post" action="/register">
        <h2>REGISTER</h2>
        <div class="card mt-3">
            <div class="card-body p-4">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputText" placeholder="Username" name="username" required>
                    <label for="floatingInputText">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <small>Have an account? <a href="/login">Login</a></small>
            </div>
        </div>
    </form>

    <%- include('./partials/js') %>
</body>
</html>